body {
    background-color: lightblue;
    padding: 20px;
    
}
main{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    text-align:center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.data_table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: slategray;
}

dt{
    border-color: black;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
}
