body {
    background-color: rgb(183, 219, 231);
    padding: 20px;
    
}
main{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    text-align:center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.data_table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

dt{
    border-color: black;
    margin: 5px;
    padding: 10px;
    font-size: 25px;
    border-radius: 30px;
    border-width: 20px;
    background-color: rgb(219, 221, 223);
}

dd{
    font-size: 23px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

