body {
    background-color: lightblue;
    padding: 20px;
    
}


header {
    text-align:right;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.data table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background:fixed;
    background-color: slategray;

}